doctype html
html(lang='en')
    head
        script(src='https://www.googletagmanager.com/gtag/js?id=UA-117526105-1')
        script(src='analytics.js')
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title Make your Nano Sign
        meta(name='description', content=`demo for ${pkg.name} (${pkg.homepage})`)
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='shortcut icon', type='image/png', href='Nano_basic_logo.png')
        link(rel='apple-touch-icon-precomposed', type='image/png', href='dummy.png')
        link(href='https://fonts.googleapis.com/css?family=Ubuntu', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito', rel='stylesheet')
        link(href='styles.css', rel='stylesheet')
        script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js')
        script(src=`${pkg.name}-${pkg.version}.min.js`)
        script(src='fontfaceobserver.js')
        script(src='scripts.js')
    body
        div#container

        div.control.left
            a#banner(href='http://nanosign.org') NanoSign 0.0.2

            hr
            label(for='size') SIZE:
            input#size(type='range', value='350', min='100', max='1000', step='50')
            label(for='width') WIDTH:
            input#width(type='range', value='3', min='1', max='10', step='1')
            label(for='fill') FILL
            input#fill(type='color', value='#498AC7')
            label(for='back') BACK
            input#back(type='color', value='#ffffff')
            label(for='text') CONTENT
            textarea#text xrb:xrb_<your_nano_address>

            hr
            label(for='minversion') MIN VERSION:
            input#minversion(type='range', value='1', min='1', max='10', step='1')
            label(for='eclevel') ERROR CORRECTION LEVEL
            select#eclevel
                option(value='L') L - low (7%)
                option(value='M') M - medium (15%)
                option(value='Q') Q - quartile (25%)
                option(value='H', selected='selected') H - high (30%)
            label(for='quiet') QUIET ZONE:
            input#quiet(type='range', value='2', min='0', max='4', step='1')
            label(for='rounded') ROUNDED CORNERS:
            input#rounded(type='range', value='100', min='0', max='100', step='10')

        div.control.right
            label(for='item') ITEM
            select#item
                option(value='0') item 1
                option(value='1') item 2
                option(value='2') item 3
                option(value='3') item 4
                option(value='4') item 5
                option(value='5') item 6
                option(value='6') item 7
            label(for='mode') MODE
            select#mode
                option(value='label') label
                option(value='image', selected='selected') image
            hr
            label(for='msize') SIZE:
            input#msize(type='range', value='20', min='0', max='40', step='1')
            label(for='mposx') POS X:
            input#mposx(type='range', value='17', min='0', max='100', step='1')
            label(for='mposy') POS Y:
            input#mposy(type='range', value='50', min='0', max='100', step='1')

            div#fontblock
                hr
                label(for='label') LABEL
                input#label(type='text', value='NANO')
                label(for='font') FONT NAME
                input#font(type='text', value='Nunito')
                label(for='fontcolor') FONT COLOR
                input#fontcolor(type='color', value='#000000')
                div.bottomlinks(style="display:flex;align-items:center;")
                    input#stroke(type='checkbox', checked, style="width: 20px;")
                    span(style="line-height:30px;")
                        label(for='stroke') STROKE

            div#imageblock
                hr
                label(for='imageinput') IMAGE INPUT
                select#imageinput
                    option(value='url', selected='selected') url
                    option(value='local') local
                div#imageinputurlblock
                    label(for='imageurl') IMAGE URL
                    input#imageurl(type='text', value='http://nanosign.org/Nano_basic_dark.png', onfocus='this.setSelectionRange(0, this.value.length)')
                div#imageinputlocalblock
                    label(for='image') LOCAL IMAGE
                    input#image(type='file')

            hr
            div.bottomlinks(style="display:flex;align-items:center;")
                a(href='https://github.com/ceddup/nanosign')
                    img(src="github-256-black.png", style="height:30px;") 
                span(style="line-height:30px;")
                    a(href='https://github.com/ceddup/nanosign', target="_blank") Nanosign on Github

        img#img-buffer0(src='Nano_basic_dark.png')

        img#img-buffer1(src='Nano_basic_dark.png')

        img#img-buffer2(src='Nano_basic_dark.png')

        img#img-buffer3(src='Nano_basic_logo.png')

        img#img-buffer4(src='Nano_basic_dark.png')

        img#img-buffer5(src='Nano_basic_dark.png')

        img#img-buffer6(src='Nano_basic_dark.png')
